<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="CoarseFineLocation">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/MoviUQ"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoviUq"
        tools:targetApi="33">
        <activity
            android:name=".presentation.activity.CreateRequestActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MyOfferListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.MyRequestListActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.DetailOfferTravelActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.EditProfileUserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CreateOfferActivity"
            android:exported="false"
            android:theme="@style/ThemeActivityWelcome" />
        <activity
            android:name=".presentation.activity.NotificationUserActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.activity.CreateProfileActivity"
            android:exported="false"
            android:theme="@style/ThemeActivityWelcome" />
        <activity
            android:name=".presentation.activity.HomeActivity"
            android:exported="false"
            android:theme="@style/ThemeActivityWelcome" />
        <activity
            android:name=".presentation.activity.SignActivity"
            android:exported="false"
            android:theme="@style/ThemeActivityWelcome" />
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:exported="false"
            android:theme="@style/ThemeActivityWelcome" />
        <activity
            android:name=".presentation.activity.MainActivity"
            android:exported="true"
            android:theme="@style/ThemeActivityWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>



        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/mapsApi" />

        <service
            android:name=".provider.notificacion.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_name" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/green_main" />
    </application>

</manifest>